

.wrapper {
	max-width: 100%;
	margin: 5px;
}

.photo {
	float: right;
}

video {
	display: block;
	margin: 0;
	border: 2px solid #ffffff;
	display: flex;
	margin: 0 auto;
}


.ftext {
	font-family: Andale Mono, monospace;
	font-size: 1.2em;
	font-style: normal;
	font-weight: 600;
	align-content: flex-start;
	padding-bottom: 10px;
	flex: 1 0 auto;
}

.text-center {
	text-align: center;
}

.bottom {
	font-size: small;
	text-align: center;
	border-top: thick solid #000000;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(86, 175, 82, 0.65);
	color: white;
	text-align: center;
	padding-bottom: 5px;
}

.column {
	float: left;
	width: 50%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

nav ul {
	display: flex;
	flex-direction: column;
	margin-top: -10px;
	list-style-type: none;
	background-color: #faead6;
	text-align: center;
	padding: 10px;
	table-layout: auto;
}

li {
	padding: 5px;
}

body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
}

header {
	background-image: url(logocoffee.jpg);
	background-size: 108px 108px;
	background-position: center;
	background-repeat: no-repeat;
	align-content: center;
}

h1 {
	padding-top: 200px;
	font-family: "Brush Script MT", Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
}

h2 {
	font-size: 0;
}

p.indent {
	text-indent: 1em;
}

a:link {
	color: #000000;
}

a:visited {
	color: #018001;
}

a:hover {
	color: #155515;
}

input[type=text] {
	width: 50vmax;
	display: block;
	padding: 0px 0px;
	box-sizing: border-box;
}

legend {
	font-size: 1em;
}


@media (min-width: 800px) {
	.wrapper {
		max-width: 80%;
		margin: 0 auto;
	}
	nav ul {
		list-style-type: none;
		background-color: #faebd7;
		text-align: center;
		align-content: center;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		padding: 10px;
	}
	header {
		width: 100%;
		background-image: url(longlogo.jpg);
		background-repeat: no-repeat;
		background-size: 50vmax 15vmax;
		text-align: center;
	}
	h1 {
		font-family: "Brush Script MT", Helvetica, sans-serif;
		font-size: 4vmax;
		text-align: center;
		margin-bottom: -10px;
	}
	h2 {
		font-family: "Brush Script MT", Helvetica, sans-serif;
		font-size: 2vmax;
		text-align: center;
		margin-top: -10px;
	}
	nav li {
		display: flex;
		flex-direction: column;
		background-color: #faebd7;
		text-align: center;
		align-content: center;
		table-layout: auto;
	}
	
    .text-center {
		text-align: center;
	}

	.center {
		text-align: center;
		margin-left: 515px;
	}
	body {
		margin: 10px;
	}
	.photo {
		float: right;
		padding: 10px;
	}
	.bottom {
		padding-bottom: 25;
	}
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	p.indent {
		text-indent: 5em;
	}
	legend {
		font-size: 1.25em;
	}
}